
body{
  font-family:fantasy;
  background-color:darksalmon;
}
a {
  color:blue;
  text-decoration: none;
}
p{
  font-size: 1.1em;
}
#container{
  width: 960px;
  margin:0 auto;
}
#blogentry h4{
  margin-top: -15px;
}
#blogentry{
  background-color: lightyellow;
}
#header h1{
  text-decoration: underline;
}
#nav a{
  border: 2px solid black;
  padding:2.5px;
}
#grapes {
  float: right;
  height: 125px;
  width: 175px;
  margin-top: -88px;
}
#infoTag {
  text-align: center;
}
#footer {
  font-family: Helvetica;
  font-weight: bolder;
}
#video{
  height:200px;
  width:340px;
}
#caption{
  text-decoration: overline;
  margin-top: 5px;
}
#winebooks {
  height: 100px;
  width: 75px;
  float:left;
  margin-right: 10px;
  }

#comments h3{
  text-decoration: underline;
  }
  #countdown {
    float:left;
    position:fixed;
  }
.important{
  font-weight:bold;
  font-size: 120%;
  color: crimson;
}
.booktitle{
  text-decoration: underline;
}
.admin  img {
  width: 200px;
  height: 200px;
  padding-left: 57.5px;
    }
.admin {
  width: 315px;
  height: 600px;
  border: 1px solid black;
  display: inline-table;
  align: center
    }
.big{
  font-weight:bold;
  font-size: 120%;
    }
.link{
  color:blue;
    }
.names {
  text-decoration: underline;
  text-align: center;
    }
.nice-to-know{
  font-style:italic;
  text-decoration:underline;
    }
.special{
  font-style: italic;
}
.date {
  font-size: 12px;
    }
.replies{
  margin-left: 20px;
    }
