
body{
  font-family:fantasy;
  background-color:darksalmon;
}
a {
  color:blue;
  text-decoration: none;
}
p{
  font-size: 1.1em;
}
#container{
  width: 960px;
  margin:0 auto;
}
#blogentry h4{
  margin-top: -15px;
}
#blogentry{
  background-color: lightyellow;
}
#header h1{
  text-decoration: underline;
}
#nav a{
  border: 2px solid black;
  padding:2.5px;
}
#grapes {
  float: right;
  height: 125px;
  width: 175px;
  margin-top: -88px;
}
#infoTag {
  text-align: center;
}
#footer {
  font-family: Helvetica;
  font-weight: bolder;
}
#video{
  height:200px;
  width:340px;
}
#caption{
  text-decoration: overline;
  margin-top: 5px;
}
#winebooks {
  height: 100px;
  width: 75px;
  float:left;
  margin-right: 10px;
  }

#comments h3{
  text-decoration: underline;
  }
#questions{
  min-height:500px;
  text-align:center;
  font-size:1.2em;
}
.important{
  font-weight:bold;
  font-size: 120%;
  color: crimson;
}
.booktitle{
  text-decoration: underline;
}
.toggler {
display:none;
padding:10px;
  
}
.bookpic{
  min-height:300px;
  max-width:310px;
  border:6px solid black;
}
#books p{
  text-align: center;
  padding-top: 10px;
}

#books{
  min-height:500px;
  margin-top: 90px;
}
.border{
  text-align:center;
  border:6px solid black;
  min-height: 300px;
  width:50%;
  float:right;
}
.invisible{
  width:0;
  height:0;
  overflow: hidden;
}
.visible{
  width: auto;
  height: auto;
}
.admin  img {
  width: 200px;
  height: 200px;
  padding-left: 57.5px;
    }
.admin {
  width: 315px;
  height: 600px;
  border: 1px solid black;
  display: inline-block;
  align: center
    }
.big{
  font-weight:bold;
  font-size: 120%;
    }

.link{
  color:blue;
    }
.names {
  text-decoration: underline;
  text-align: center;
    }
.nice-to-know{
  font-style:italic;
  text-decoration:underline;
    }
.special{
  font-style: italic;
}
.date {
  font-size: 12px;
    }
.replies{
  margin-left: 20px;
    }
